td {
    padding: 2px;
    padding-right: 20px;
}

.contentbox {
    p {
        margin: 5px;
        
        a {
            color: #FFF;
        }
    }
    
    h1, h2, h3 {
        margin: 5px;
        margin-top: 15px;
    }
}
